.AboutSection {
    min-height: 100vh;
    height: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    position: relative;
}

.AboutHeader {
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Fira Sans', sans-serif;
}

.AboutHeader::after {
    position: relative;
    content: '';
    height: 1px;
    width: 5%;
    left: 49%;
    margin-top: 20px;
    display: grid;
    background: white;
}

@media (max-width: 1000px) {
    .AboutSection {
        display: block;
    }

    .AboutHeader {
        text-align: left;
        margin-left: 20px;
        margin-top: 90px;
    }

    .AboutHeader::after {
        height: 0px;
    }
}