.AboutSection {
    height: 100vh;
    background: black;
    margin: auto;
    display: flex;
}

.AboutHeader {
    position: relative;
    left: 50%;
    top: 80px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Fira Sans', sans-serif;
}

.AboutHeader::after {
    content: '';
    height: 1px;
    width: 50%;
    margin-top: 20px;
    display: block;
    float: right;
    background: white;
}

@media (max-width: 1000px) {
    .AboutSection {
        display: block;
    }

    .AboutHeader {
        top: 65px;
        left: 0%;
    }

    .AboutHeader::after {
        height: 0px;
    }
}